<html>
    <body>
        <div class="my-message-container">
            <h1 class="new-message-title"><%= title%></h1>
            <div class="my-message">
                <h4>Name: <%=item.user%></h4>
                <h4>Message: <%=item.text%></h4>
                <h4>Date: <%=item.added%></h4>
            </div>
            <a href="/" class="back-home">⬅️ Back home</a>
        </div>
    </body>
</html>