<html>
    <head>
        <link rel="stylesheet" href="/css/item.css">
    </head>
    <body>
        <div class="my-message-container">
            <h1 class="new-message-title"><%= title%></h1>
            <div class="my-message">
                <p class="user-name"><span>Name:</span> <%=item.user%></p>
                <p class="message"><span>Message:</span> <%=item.text%></p>
                <p class="date"><span>Date:</span> <%=item.added%></p>
            </div>
            <a href="/" class="back-home">⬅️ Back home</a>
        </div>
    </body>
</html>